.touristRoutes {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .route {
    background-color: var(--background-card);
    padding: 12px 16px;
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--border-card);
    cursor: pointer;

    .image {
      width: 56px;
      height: 56px;
      padding: 16px;
      border-radius: 50%;
    }

    .info {
      h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: var(--primary-color);
        margin-bottom: 5px;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }
    }
  }
}
