.imageSlider {
  position: relative;
  margin-bottom: 15px;

  .slider {
    display: flex;
    gap: 10px;
    overflow: hidden;

    img {
      width: 384px;
      height: 240px;
      cursor: pointer;
    }
  }

  @mixin common {
    position: absolute;
    bottom: 15px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left {
    left: 15px;
    @include common;
  }

  .right {
    right: 15px;
    @include common;
  }
}
