.title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;

  .image {
    background-color: #ffedec;
    padding: 15px;
    border-radius: 50%;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .info {
    h6 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: var(--primary-color);
      margin-bottom: 5px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
