.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 12px;

  .breadcrumb {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: var(--breadcrumb-color);
    }

    span:not(:first-child) {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--breadcrumb-arraw-color);
      margin-left: 12px;
    }
  }
}
